.link {
  transition: background 0.3s linear;
}

.link:hover,
.active {
  color: #000;
  background: #eee;
}

.count {
  display: inline-block;
  text-align: center;
  width: 20px;
  color: #fff;
  background: #0a73b2;
  border-radius: 50%;
}
